@import "tailwindcss";


@font-face {
    font-family: Tanha;
    src: url('./assets/fonts/Tanha.eot');
    src: url('./assets/fonts/Tanha.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/Tanha.woff') format('woff'),
         url('./assets/fonts/Tanha.ttf') format('truetype');
    font-weight: normal;
}

@layer base {
  body {
    @apply  bg-gray-200;
  }
  .dropdown {
    @apply w-full lg:max-w-[296px] cursor-pointer;
  }
  .dropdown-btn {
    @apply flex h-[64px] items-center px-[18px] border rounded-lg;
  }
  .dropdown-icon-primary {
    @apply text-2xl mr-[18px] text-red-500;
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-red-500 ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-6 shadow-md bg-gray-950 absolute w-full z-10 list-none rounded-b-lg;
  }
}

body {
    direction: rtl;
    font-family: Tanha;
}